.container {
  margin: 2em auto;
  width: 90%;
  max-width: 1200px;
  display: grid;
  gap: 2em;
  align-content: center;
  grid-template-columns: repeat(8, 1fr)
}

.img {
  background: url(https://musicart.xboxlive.com/7/5c321200-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080);
  background-position: center;
  background-size: cover;
  border-radius: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  color: #333;
  font-family: sans-serif;
  grid-column: span 3;
}

.card > h1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.card > p {
  font-size: .8rem;
  line-height: 150%;
  color: white;
}

.card > a {
  display: flex;
  text-decoration: none;
  color: purple;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
}


.img {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  background-color: white;
}


@media (max-width: 760px) {
  .container {
    align-content: space-between;
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .img {
    aspect-ratio: 1 / 1;
  }
  
  .card {
    margin-top: 2em;
    width: 100%;
  }
}